
.container-grid {
  display: grid;
  gap: 1rem;
  padding: 0 5% 0 5%;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}



.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 2s;
}

.gallery-item:hover {
  translate: -100px;
}
.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 1000ms ease-in-out;
}

.gallery-item .image img:hover { 
  transform: scale(1.5);
}

.gallery-item .text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  pointer-events: none;
  z-index: 4;
  transition:animation .3s ease-in-out;
  transition:animation .2s;
  width:100%;
}


.gallery-item:hover .text{
  opacity:1;
  animation: move-down .3s linear;
  width:100%;
  background-color: rgba(0, 0, 0, 0.673);
  overflow: hidden;
  translate: 100px;
}



@keyframes move-down{
  
  0%{
    top:0%;
  }
  50%{
    top:35%;
  }
  100%{
    top:50%;
  }
}


.ticket-container {
    display: flex;
    flex-direction: column;
    padding: .4em;
    width: auto;
    height: auto;
}



.ticket-text__container {
  padding: 1em;
  width: auto;
  height: auto;
}


.ticket-item {
  width: 100%;
  height: 100%;
}

.ticket-image {
  width: 100%;
  height: 100%;
}
.ticket-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.ticket__name p {
  text-align: center;
  font-weight: 900;
  font-size: 1fr;
}


.ticket__description p {
  font-size: 16px;
}

.ticket__id p {
  font-size: 16px;
    background-color:#922;
  }
  
  .ticket__dateOfEvent p {
    font-size: 16px;
    background-color:#222;
  }
  
  .ticket__logo p {
    font-size: 14px;
  }
  
  .ticket__email p {
    font-size: 14px;
  }
  
  
  /*-->>  RESPONSIVE  <<--*/
  @media (max-width: 700px) {
    .container-grid {
      gap: 1rem;
      row-gap: 6em;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  
  