* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 2em auto;
    border: 1px solid black;
}

.none {
    display: none;
}
main {
    text-align: center;
    box-shadow: 1px 2px 1px 2px;
    max-width: 500px;
    padding: 2em;
    margin: auto;
}

main .form {
    
    margin: auto;
    display: flex;
    flex-direction: column;
}

main .form label {
    text-align: left;
}

.container-form {
    margin: 4em 0;
}

