@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  font-style: none;
}

:root {
  /*colorPaleta*/
  --primary_rosado: #d48d99;
  --secundary_black: #0f131f;
  --terciary_gris: #949fb1;
  --quartary_azulpurpura: #80788d;
  --quintenary_azultenue: #5a6882;
}

/*GENERAL*/

body {
  background-color: var(--terciary_gris);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Josefin Sans", sans-serif;

  height: 100vh;
  overflow: hidden;
}

/*No visualizar*/
.none {
  display: none!important;
}

header {
  text-align: center;
  background-color: var(--secundary_black);
  padding: 1em;
  color: var(--terciary_gris);
}


.container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--quintenary_azultenue);
    text-align: center;
    font-size: 2em;
    
}

.subtitle {
    font-size: 2em;
    text-align: center;
}

/* LINKS */
.link {
  display: block;
  margin-top: 0.5em;
  color: var(--quintenary_azultenue);
}

.link:hover {
  color: var(--quartary_azulpurpura);
}

/*BOTONES*/

.btn {
  display: inline-block;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.15s;
  cursor: pointer;
}

.btn-off {
  color: var(--secundary_black);
  font-style: oblique;
  text-decoration: underline;
  text-shadow: none;
}

.btn-on {
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}
.btn:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: var(--quintenary_azultenue);
  border-color: #ffffff;
}
@media all and (max-width: 30em) {
  .btn {
    display: block;
    margin: 0.4em auto;
  }
}

.btn-add {
    background-color: aliceblue;
    padding: 5px;
    font-size: 1.4rem;
}

.btn-2 {
    border: none;
    padding: 5px 8px;
    height: 100%;
    font-size: 1.5em;
    background-color:var(--quintenary_azultenue) ;
    cursor: pointer;
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
    border: 1px solid black;
}

.btn-2_off:hover {
    opacity: .7;
    background-color: red;
}

.btn-2_on:hover {
    opacity: .7;
    background-color: green;
}

.btnLogOut:hover {
    
}


/*************
**FORMULARIOS**
*************/

.form-modal {
  position: absolute;
  background-color: #80788d;
  width: 100vw;
  height: 100vh;
  top: 0;
}

main {
  margin: 2em auto;

  text-align: center;
  max-width: 500px;
  padding: 2em;
  margin: auto;
}


main .form label {
  text-align: left;
}

form label {
  font-size: 2rem;
}

.form-title {
  font-size: 3em;
  color: var(--secundary_black);
  text-shadow: #d48d99 1px 5px 5px;
  padding: 5px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 4em 0;
  padding: 2rem;
}

.form-input__container {
  width: 100%;
}

.form__input {
  width: 100%;
  font-size: 1.5rem;
  border: 1px solid #000;
  height: 30px;
  background-color: var(--primary_rosado);
  border: 0;
  margin: 6px 0;
  
}

.form__input:hover {
  opacity: 0.8;
}

.form__input:focus {
  opacity: 1;
  border: 1px solid green;
  
}

.form-button {
  font-size: 1.2rem;
}
/*********
***FOOTER***
*********/
.footer-container {
  display: block;
  position: absolute;
  bottom: 0;
}
