@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import './home.css';
@import './tableList.css';
@import './form.css';
@import './btn&Nav.css';
@import './eventPanel.css';
@import './eventsGalery.css';

/* Z-INDEX Leyend:  */
.btn {z-index: 2;}
.configEventForm {z-index: 2;}
.modal_offcanvas {z-index: 3;} 
a {z-index: 4;} 
.footer-container  {z-index: 4;}
.gallery_container  {z-index: 3;}
.nav-container {z-index: 3;}

/*Social Media*/
.github:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}


.linkedin:hover {
  color: blue;
  cursor: pointer;
  justify-content: left;
}

/*Variables*/
:root {
  --color-primary:#161515;
  --color-secundary:#575652;
  --color-terciary:#feeb53;
  --color-text-primary: #2e323a;
  --color-text-secundary:#b0b4b8;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: var(--color-text-secundary);
}

.none {
  display: none !important;
}

.center {
  text-align: center;
}

.h1{
  color: var(--color-terciary);
  font-weight: bolder;
}

h1 {
  font-size: calc(4rem + 1.5vw);
}

h2 {
  font-size: calc(3rem + 1.5vw);
}

h3 {
  font-size: calc(1.5rem + 1.5vw);
}
p {
  font-size: calc(16px + 1.5vw);
}

a {
  color: #fff;
  z-index: 4;
}
a:hover {
  cursor: pointer;
}


/*Icons*/
.container-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:  1fr;
  grid-column-gap:10vw;
  grid-row-gap: 0px; 
}

.container-icons .flex-item {
  padding: 10px;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

/*Footer*/
.footer-container  {
  position: fixed;
  bottom: 0;
  background-color: var(--color-text-primary);
  width: 100%;
  display: flex;
  z-index: 4;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap:calc(2px + 1vw);
  justify-content: space-around;
  flex-wrap: nowrap;
}

.list-colum {
  flex-direction: column;
}

.list_item:first-child{
  color: var(--color-terciary);
}

.header {
  display: flex;
  justify-content: space-around;
}
/***********  SPECIFIC STYLES ********/

/* HERO-SLIDE-BG */
#bgHeroSlide {
  background: linear-gradient(to bottom, rgba(18,42, 66, .65), rgba(18,42, 66, .65)), url(../media/bg-dance.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;  
  height: 100vh;
}



/*Particles BG*/
#particles-js {
  position: absolute;
  top: 0;
  width: 90%;
  height: 100vh;
  overflow: hidden;
}