

:root {
    /*colorPaleta*/
    --primary_rosado: #d48d99;
    --secundary_black: #0f131f;
    --terciary_gris: #949fb1;
    --quartary_azulpurpura: #80788d;
    --quintenary_azultenue: #5a6882;
  }

  .adminPanel-container {

  }

.adminPanel-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.adminPanel-header__info {
    box-shadow: 2px 2px 2px;
    border: 1px solid black;
    background-color: var(--quartary_azulpurpura);
    padding: 4px;
}

.adminPanel-config__buttons {

}


table, th, td {
    text-align: center;
    border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}